﻿@{
    ViewBag.Title = "About";
}

<div class="courses_banner">
    <div class="container">
        <h3>Hakkimizda</h3>

        <div class="breadcrumb1">
            <ul>
                <li class="icon6">@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                <li class="current-page">Hakkimizda</li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner -->
<div class="courses_box1">
    <div class="container">
        <div class="col-md-6 about_left">
            <h1>Hakkimizda</h1>
            <p>
                Kütüphanemiz üniversitemizin öğretim elemanları, öğrenci ve personelinin; eğitim, öğretim, araştırma programlarını desteklemek ve boş zamanlarını değerlendirmeleri için her türlü bilgiyi ve bilgi kaynaklarını toplayıp kullanıcıların hizmetine en iyi şekilde sunan merkezdir.
                Sakarya Üniversitesi Merkez Kütüphanesi 10.000 m2 lik alanda aynı anda 1.300 kişiye 7/24 hizmet vermektedir. Birinci katta süreli yayınlar, çalışma salonu ve referans bölümü (ansiklopediler, tezler vb.) ve gazete okuma bölümü; ikinci katta kitaplar, sözlükler ve Atatürk Kitaplığı'ndan oluşan koleksiyon; üçüncü katta Okuma Salonu, Görsel-İşitsel Bölümü ve internet salonu dördüncü katında ise Bireysel Çalışma Salonu bulunmaktadır. Ayrıca kütüphanenin her katında kablosuz internet erişimi mevcuttur.

                Üniversitemiz Merkez Kütüphanesi ile fakülte ve meslek yüksekokulu kütüphanelerinde; 197.622 adet kitap, 4.070 adet CD-DVD olmak üzere toplam 201.692 bilgi kaynağı ve 1.699 adet basılı dergi bulunmaktadır. Elektronik veri tabanı abonelikleri ile 58.765 adet e-dergiye, 3.416.670 e-kitaba, 2.000.000’un üzerinde e-teze ve Time gazetesinin 200 yıllık arşivine elektronik ortamda tam metin erişim sağlanmıştır (03.08.2015).

                Kütüphanede mevcut bütün materyaller Yordam Kütüphane Bilgi-Belge Otomasyon programı kullanılarak elektronik ortama aktarılmış ve internet üzerinden kullanıcıların hizmetine sunulmaktadır. Kütüphanemiz, Üniversitemiz öğrencilerine akademik ve idari personeline referans kaynakları dışındaki bilgi kaynakları ödünç vermektedir. Öğretim elemanları talep ettikleri takdirde yurtiçi üniversite kütüphanelerinden ödünç kitap ve makale fotokopisi temin edilmektedir.
            </p>
            <ul class="about_links">
                @* <li><p>Ut wisi enim ad minim veniam, quis nostrud</p></li>
                    <li><p>Exerci tation ullamcorper suscipit lobortis nisl aliquip</p></li>
                    <li><p>Duis autem vel eum iriure dolor</p></li>*@
            </ul>

        </div>

        <div class="clearfix"> </div>
    </div>
</div>
@*<div class="bg_1">
        <div class="container">
            <h2>Our Team</h2>
            <div class="col-md-3 team_grid">
                <div class="team">
                    <img src="../Content/images/team1.jpg" class="img-responsive" alt="" />
                    <div class="team_box">
                        <h3>slightly believable</h3>
                        <p>Economics</p>
                        <ul class="team-socials">
                            <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team_grid">
                <div class="team">
                    <img src="../Content/images/team4.jpg" class="img-responsive" alt="" />
                    <div class="team_box">
                        <h3>slightly believable</h3>
                        <p>Economics</p>
                        <ul class="team-socials">
                            <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team_grid">
                <div class="team">
                    <img src="../Content/images/team2.jpg" class="img-responsive" alt="" />
                    <div class="team_box">
                        <h3>slightly believable</h3>
                        <p>Economics</p>
                        <ul class="team-socials">
                            <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team_grid">
                <div class="team">
                    <img src="../Content/images/team3.jpg" class="img-responsive" alt="" />
                    <div class="team_box">
                        <h3>slightly believable</h3>
                        <p>Economics</p>
                        <ul class="team-socials">
                            <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>*@
@*<div class="advantage">
        <h3>Advantages</h3>
        <div class="container">
            <div class="col-md-4 box_1">
                <div class="list styled custom-list custom-list1">
                    <ul>
                        <li>
                            <span class="dropcap">1.</span>
                            <div class="item_content">
                                <h5><a href="#">nunc nobis videntur parum</a></h5>
                                <p> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur paru.</p>
                                <p class="m_1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 box_1">
                <div class="list styled custom-list custom-list1">
                    <ul>
                        <li>
                            <span class="dropcap">2.</span>
                            <div class="item_content">
                                <h5><a href="#">nunc nobis videntur parum</a></h5>
                                <p> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur paru.</p>
                                <p class="m_1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 box_1">
                <div class="list styled custom-list custom-list1">
                    <ul>
                        <li>
                            <span class="dropcap">3.</span>
                            <div class="item_content">
                                <h5><a href="#">nunc nobis videntur parum</a></h5>
                                <p> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur paru.</p>
                                <p class="m_1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>*@