﻿@model KutuphaneVeritabani1.Kitape

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kitape</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KitapAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitapAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basimyili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basimyili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yazar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RafSiraNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RafSiraNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Binakat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Binakat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
